#homeJumbotron {
  background-image: url(../../assets/images/fox.webp);
  background-position: center;
  font-family: "Oswald", sans-serif;
  color: #dad7cd;
  -webkit-text-stroke: 1.5px red;
  text-align: center;
  padding-top: 40px;
  background-size: cover;
}

.jobList {
  font-size: 40px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .jobList {
    font-size: 20px;
    -webkit-text-stroke: 1px red;
  }
  #homeJumbotron {
    background-size: cover;
  }
}
