/* .title {
  border: solid red;
}

.title:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

#header {
  border: solid white;
  text-align: left;
  display: flex;
  justify-content: center;
}
.info {
  color: green;
  border: solid green;
}
.links {
  color: blue;
  border: solid blue;
} */

#header {
  font-family: "Oswald", sans-serif;
  color: white;
  -webkit-text-stroke: 1.5px red;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.FoxValleyTitle {
  font-size: 6rem;
}
.phoneTag {
  text-decoration: none;
  color: inherit;
  font-size: 4rem;
}
