#header {
  font-family: "Oswald", sans-serif;
  color: white;
  -webkit-text-stroke: 1.5px red;
  font-size: 25px;
  /* border: solid white; */
}
.FoxValleyTitle {
  font-size: 7rem;
  /* border: solid white; */
}
.phoneTag {
  text-decoration: none;
  color: inherit;
  font-size: 3.5rem;
}

.logo-container {
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
  text-align: center; /* Center the text within the container */
  margin: 0 auto;
  padding: 0; /* Center the container horizontally in the header */
  /* border: solid white; */
  filter: drop-shadow(0 0 3em #61dafbaa);
  margin-top: -6rem;
}
.content-container {
  margin-top: -6rem;
}
@media screen and (max-width: 768px) {
  #header {
    font-size: 15px;
    /* border: solid white; */
  }
  .FoxValleyTitle {
    font-size: 4rem;
    /* border: solid white; */
  }
  .logo-container {
    margin-top: -4rem;
  }
  .content-container {
    margin-top: -4rem;
  }
}
