.footerContainer {
  margin-top: 25px;
  border: solid #dad7cd 0.7px;
  background: linear-gradient(to bottom, #0f0606, #6d6875);
  font-family: "Oswald", sans-serif;
  color: #dad7cd;
  -webkit-text-stroke: 0.7px red;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .footerTitle {
    display: none;
  }
  #facebookLogo {
    width: 30px;
    height: 30px;
    margin: 0;
  }

  #youtubeLogo {
    width: 30px;
    height: 30px;
    margin: 0;
  }
  #fvpLogoFooter {
    display: none;
  }
}
