/*Facebook and youtube logo*/
.logos {
  max-width: 4rem;
  display: flex;
  margin-top: -20px;
  /* align-items: flex-end; */
  /* justify-content: space-between; */
}

.logos a:last-child {
  margin-left: 10px;
}

/*Copyright and FVP logo*/
.name-logo {
  font-size: 20px;
  width: 30rem;
  display: flex;
  justify-content: left;
}

/*Copyright only*/
.copyright {
  margin-top: 35px;
  margin-left: -20px;
}
/*FVP logo only*/
#fvpLogo {
  filter: drop-shadow(0 0 1em black);
}

/* IndividualmFooter Links */
.footerLinks .nav-link {
  text-decoration: none;
  color: gray;
  /* border: solid red; */
}
.footerLinks .nav-link:hover {
  color: white;
}

/*Border link container*/
.footerLinks {
  margin-top: -20px;
  margin-left: 30px;
}
.footerContainer {
  border: solid white;
  position: fixed;
  bottom: -20px;
  height: -300px;
  width: 93.5%;
  z-index: 100;
  padding-top: 400px;
}
