body {
  /* background-color: #33415c; */
  /* background: linear-gradient(to right, #a10220, #ffc917, #002b53); */
  color: black;
  background: linear-gradient(to right, #0f0606, #490000);
  margin-bottom: 9rem;
}
